{
  "semi": true,
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "none",
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./styles/index.css"
}
