---
import Loading from "../components/Loading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="pt-16 px-16 h-screen flex items-center justify-center">
    <div class="flex gap-4 items-center justify-center">
      <Loading />
      <h3 class="text-xl">Connecting with sender</h3>
    </div>
  </section>
</Layout>
