---
import LanguagesIcon from "@lucide/astro/icons/languages";
---

<header
    class="flex items-center justify-between px-16 h-16 w-screen fixed backdrop-blur-lg border-b"
>
    <div class="flex items-center justify-center gap-1">
        <img src="/favicon.svg" width="24" />
        <h1 class="text-xl text-foreground">PaperShare</h1>
    </div>
    <nav class="flex items-center justify-center gap-8">
        <div>Home</div>
        <div>About</div>
        <div>FAQs</div>
    </nav>
    <LanguagesIcon class="text-muted-foreground" />
</header>
