<header
  class="flex items-center justify-between px-16 h-16 w-screen fixed bg-background/80 backdrop-blur-lg border-b"
>
  <div class="flex items-center justify-center gap-1">
    <img src="/favicon.svg" width="24" />
    <h1 class="text-2xl text-foreground">PaperShare</h1>
  </div>
  <nav class="flex items-center justify-center font-sans gap-8">
    <div>Home</div>
    <div>About</div>
    <div>FAQs</div>
  </nav>
</header>
